*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root{

    height: 100vh;
    background: linear-gradient(0deg,   #d9dbd4 85%, #009688 85%)
}



.clearfix {
    content: "";
    display: table;
    clear: both;    
}
.frame{
    padding: 25px;
}

/* ***************left_side**************** */
.left{
    float: left;
    height: 95vh;
    width:55vh ;
}

.user{
    height: 7vh;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    border-right: 1px solid #dadada;
}

.luisa{
    display: inline-flex;
    align-items: center;
    position: relative;
    right: 65px;
}

.ava{
    display: inline-block;
    background-image:url(../img/avatar_io.jpg);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right:15px ;
}

.icons{
    color: #b1b1b1;
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    left: 70px; 
}


.fa-comment-alt{
    margin: 0 15px;
}

.alert{
    height: 8vh;
    background-color: #8edafc;
}
.input{
    text-align: center;
    padding: 0.5vh;
    background-color: #fafafa;
}
.in-put {
    width: 53vh;
    height: 3vh;
    border-radius: 5px;
    border:1px solid rgb(221, 221, 221);
}

.users-list{
    height: 76vh;
    background-color: #ffffff;
}


/* ***************reight_side**************** */

.right{
    float: left;
    height: 95vh;
    width:95vh ;

}

.reuser{
    height: 7vh;
    background-color: #eaeaea;
}

.bkg{
    height:81vh;
    background-image: url(../img/mine.jpg);
}

.write{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    text-align: center;
    background-color: #f3eeea;
    
}
.write-in{
    width: 75vh;
    height: 4.5vh;
    border-radius: 5px;
    border:1px solid rgb(221, 221, 221);
}

/* ***************************debug*************************** */

.debug .left{
        background-color: red;
}
/* 
.debug .user{
    background-color: silver;
} */

/* .debug .alert{
    background-color: skyblue;
} */
/* .debug .input{
    background-color: slategray;
} */

/* .debug .users-list{
    background-color: yellow;
} */

.debug .right{
    background-color: rgb(0, 60, 255);

}
/* .debug .reuser{
    background-color: rgb(155, 155, 155);
} */

/* .debug .bkg{
    background-color: yellowgreen;
} */

/* .write{
    background-color: thistle;
} */