*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root{

    height: 100vh;
    background: linear-gradient(0deg,   #d9dbd4 85%, #009688 85%)
}



.clearfix {
    content: "";
    display: table;
    clear: both;    
}
.frame{
    padding: 25px;
}

/* ***************left_side**************** */
.left{
    float: left;
    height: 95vh;
    width:55vh ;
}

.user{
    height: 7vh;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    border-right: 1px solid #dadada;
}

.luisa{
    display: inline-flex;
    align-items: center;
    position: relative;
    right: 65px;
}


.ava{
    display: inline-block;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right:15px ;
}

.icons{
    color: #b1b1b1;
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    left: 60px; 
    cursor:pointer;
}


.fa-comment-alt{
    margin: 0 15px;
}

.alert{
    height: 8vh;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #8EDAFC;
    position: relative;
}

.bell {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, .87);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 20px;
 }

 .bell i {
    color: #8EDAFC;
    line-height: 50px;
    font-size: 20px;
 }

 .active-notification {
    margin: 0 10px;
    position: absolute;
    left: 70px;
 }
 .active-notification p {
    font-size: 14px;
 }
 .active-notification span {
    color: rgba(0, 0, 0, .55);
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
 }

.input{
    text-align: center;
    padding: 0.5vh;
    background-color: #fafafa;
    position: relative;
}

.input i{
    font-size: 18px;
    color:#b1b1b1;
    position: absolute;
    bottom: 11px;
    left: 35px;
    cursor: pointer;
}
.in-put {
    width: 53vh;
    height: 3vh;
    border-radius: 5px;
    border:1px solid rgb(221, 221, 221);
    padding-left: 60px;
}

.contact-list{
    height: 76vh;
    background-color: #ffffff;
}

.contact-box{
    height: 8vh;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
}



/* ***************right_side**************** */

.right{
    float: left;
    height: 95vh;
    width:95vh ;

}

.reuser{
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: #eaeaea;
}

.luisa_{
    display: inline-flex;
    align-items: center;
    position: relative;
    right: 160px;
}

.ava_{
    display: inline-block;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right:15px ;
}

.icons_{
    color: #b1b1b1;
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    left: 150px; 
    cursor:pointer ;
}

.fa-paperclip{
    margin: 0 15px;
}

.bkg{
    height:81vh;
    background-image: url(../img/mine.jpg);
}

.write{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    text-align: center;
    background-color: #f3eeea;
    font-size: 25PX;
    color: #b1b1b1;    
}

.write-in{
    width: 75vh;
    height: 4.5vh;
    border-radius: 5px;
    border:1px solid rgb(221, 221, 221);
}

/* ***************************debug*************************** */

.debug .left{
        background-color: red;
}
/* 
.debug .user{
    background-color: silver;
} */

/* .debug .alert{
    background-color: skyblue;
} */
/* .debug .input{
    background-color: slategray;
} */

/* .debug .users-list{
    background-color: yellow;
} */

.debug .right{
    background-color: rgb(0, 60, 255);

}
/* .debug .reuser{
    background-color: rgb(155, 155, 155);
} */

/* .debug .bkg{
    background-color: yellowgreen;
} */

/* .write{
    background-color: thistle;
} */

