<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;900&display=swap" rel="stylesheet"> 
    <title>boolzapp</title>
</head>
<body class="debug">
    

        <div id="root">
            <div class="frame clearfix">
                <div class="left">
                    <div class="user">

                        <div class="luisa">
                            <img 
                            src="img/avatar_io.jpg" 
                            alt="Io" 
                            class="ava"
                            >
                        <span>Ma Luisa chi é??</span>
                        </div>
                        <div class="icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="alert">
                        <div class="bell">
                            <i class="fas fa-bell-slash"></i>
                         </div>
                         <div class="active-notification">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <span>Attiva notifiche desktop</span>
                         </div>
                    </div>
                    <div class="input">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" class="in-put">
                    </div>

                    <div class="contact-list">

                        <div class="contact-box" v-for="(contact,i) in contacts" :class="{dark_bkg : (contacts[reference] === contact)}" @click="callContact(i)">
                            <img 
                                :src="`img/avatar${contact.avatar}.jpg`" 
                                :alt="contact.name"
                                class="ava"
                            >
                            <div class="named">
                                <span>{{contact.name}}</span>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="reuser">
                        <div class="luisa_">
                            <img 
                                :src="`img/avatar${contacts[reference].avatar}.jpg`"
                                :alt="contacts[reference].name"
                                class="ava_"
                            >
                            <div class="last-ac">
                                <p>{{contacts[reference].name}}</p>
                                <span class="access" >Ultimo accesso oggi alle {{contacts[reference].messages[contacts[reference].messages.length - 1].date}}</span>
                            </div>
                        </div>
                        <div class="icons_">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="bkg">
                            <div class="mailing-box">
                               <ul>
                                <li 
                                v-for="(message,i) in contacts[reference].messages"
                                :class="message.status === 'sent' ? 'sent' : 'received'">
                                <p>{{message.message}}</p>
                                <span class="date">{{message.date}}</span>
                               </ul>
                            </div>
                    </div>
                    <div class="write">
                        <i class="far fa-smile"></i>
                        <input 
                            type="text"  
                            class="write-in"
                            placeholder="  scrivi un messaggio"
                            v-model="theMsg"
                            @keyup.enter="send()"
                         >
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>